* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, arial, helvetica, sans-serif;
}

.container_login {
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    background: linear-gradient(128deg, rgb(1, 5, 7) 50%, rgb(2, 14, 14) 50%);
}

/*
    Pagina de LOGIN
*/
p {
    text-align: center;
    margin-right: 200px;
}

h1 {
    color: #fff;
    margin-right: 50px;
    font-size: 34pt;
    max-width: 600px;

}

#session_login {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#login_form {
    width: 600px;
    height: 430px;
    padding-top: 40px;
    background: #011424;
    border-radius: 7px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.493);
}

.text-info_box {
    display: flex;
    justify-content: center;
}

label {
    padding: 10px;
    font-weight: bold;
    font-size: 24pt;
    color: rgb(245, 245, 245);
}


input {
    width: 400px;
    height: 45px;
    outline: none;
    border: none;
    background-color: #e2f1ff;
    padding-left: 10px;

    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: rgb(56, 56, 56);
}


input::placeholder {
    color: #949494;
    font-size: 17px;
    font-weight: bolder;
}

.box_esque_senha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message {
    margin-top: 7px;
    color: rgb(46, 132, 212);
    font-size: 15px;
}

button {
    width: 150px;
    height: 50px;
    border: none;
    background: rgb(3, 63, 78);

    color: rgb(240, 240, 240);
    font-weight: 600;
    letter-spacing: 0.4px;
    cursor: pointer;
    margin-top: 28px;
    transition: .4s ease;

    font-size: 18px;
}

button:hover {
    background: rgb(10, 73, 88);
}

.box_info_text {
    width: 350px;
}

.acao_login_box {
    display: flex;
    justify-content: center;   
}

/* Estilos da aba de recuperação de senha */
h4{
   padding: 15px;
    font-size: 16pt;
    color: rgb(245, 245, 245);
    text-align: center;
    font-weight: lighter;
}

#newinput {
    margin-top: -10px;
}