.table_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .td_table, .tr_table {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .tr_table:nth-child(even) {
    background-color: #dddddd;
  }