* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#session_login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_form {
    height: 100px;
    background-color: rgba(114, 114, 114, 0.199);
}

#login_form > form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}