
.anima_left {
  opacity: 0;
  transition: .6s ease;
  transform: translateX(-45px);
}

.anima_bottom {
  opacity: 0;
  transition: .6s ease;
  transform: translateY(45px);
}

.bottom_anima {
  opacity: 1;
  transform: translateY(0);
}

.anima_table {
  opacity: 1;
  transform: translateX(0);
}

.container_load {
  display: flex;
  width: 100%;
  justify-content: center;
  height: calc(100vh - 85px);
}

.spinner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.three-quarter-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #fb5b53;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}


/*

  CONTAINER TABELA

*/


.box_tabela {
  background: #3e4855;
  min-height: 300px;
  padding: 15px 18px;
  border-radius: 4px;
}

.p_title {
  color: rgb(235, 242, 255);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.content_table {
  display: block;
  margin-top: 30px;
}

.box_search {
  display: flex; 
  width: 100%;
  justify-content: flex-end;
}

.search_table {
  width: 270px;
  background: #3e4855;
  display: flex;
  height: 40px;
  position: relative;
  border-radius: 4px;
  align-items: center;
}

.icon_search {
  font-size: 18px;
  color: rgb(190, 190, 190);
  right: 10px;
  position: absolute;
}

.search_table > input {
  width: 270px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  border: 0.5px solid rgb(78, 89, 102);
  color: rgb(207, 207, 207);
  font-size: 18px;
  padding-left: 15px;
  font-weight: bold;
  background: #3e4855;
}

.search_table > input:focus {
  background: #475669;
}


.search_table > input::placeholder {
  color: rgb(236, 236, 236);
  font-weight: 400;
}

.dados_table {
  display: block;
  margin-top: 15px;
}

.table {
  width: 100%;
}

.coll_acao {
  width: 140px;
}

.table_top > td {
  letter-spacing: 0.4px;
  font-weight: bold;
  color: rgb(200, 220, 228);
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(74, 90, 104);
}

.table_dados > td {
  padding-top: 11px;
  color:rgb(214, 225, 230);
  font-weight: 100;
  padding-bottom: 11px;
  border-bottom: rgb(54, 70, 85) 1px solid;
}

.acao_table {
  margin: 0 3px;
  user-select: none;
  cursor: pointer;
}

.ver {
  font-weight: bold;
  padding: 5px 8px;
  transition: .4s ease;
  background: rgb(65, 132, 255);
}

.ver:hover {
  background: rgb(73, 152, 255);
}

.baixar {
  font-weight: bold;
  padding: 5px 8px;
  background: rgb(2, 189, 18);
  transition: .4s ease;
}

.baixar:hover {
  background: rgb(5, 218, 23);
}

/*
  PAGINACAO CONTAINER
*/

.paginacao_php {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 20px;
}

.icon_page {
  font-size: 10px;
  color: rgb(214, 225, 230);
}

.pg_um {
  padding: 7px 13px;
  background: #485668;
  border: 1px solid rgb(126, 140, 156);
}

.pg_end {
  padding: 7px 14px;
  background: #485668;
  border: 1px solid rgb(126, 140, 156);
}

.link_page {
  text-decoration: none;
}

.link_page:hover {
  background: #3a6194;
}

.icon_inicio {
  margin: -3px;
}

.icon_end {
  margin: -3px;
  transform: rotateZ(180deg);
}

.box_pages {
  margin-right: -5px;
  padding: 7px 14px;
  background: #485668;
  border: 1px solid rgb(126, 140, 156);
  color:rgb(214, 225, 230);
}


/*

  MODAL VIEW

*/

.exite_page {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.198);
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.modal_view {
  width: 700px;
  height: auto;
  padding-bottom: 20px;
  background: #465262;
  position: relative;
  position: fixed;
  top: calc(48% - 250px);
  left: calc(50% - 350px);
  display: none;
  z-index: 999;
}

.top_modal {
  display: flex;
  align-items: center;
  height: 80px;
  background: #5e6e83;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.301);
  margin-bottom: 15px;
}

.title_modal {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.icon_exit {
  font-size: 35px;
  color: rgb(211, 0, 0);
  cursor: pointer;
  transition: .3s ease;
}
.icon_exit:hover {
  color: red;
}

.conteudo_modal {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  justify-content: space-between;
}

.conteudo_ {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.line_modal {
  display: flex;
  width: 310px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0;
}

.title_conteudo_modal {
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(236, 236, 236);
  font-weight: bold;
}

._link_modal {
  color: rgb(4, 235, 43) !important;
}

._conteudo_modal {
  color: rgb(214, 214, 214);
}